.layout{
  min-width: 500px;
}
#app{
  min-width: 700px;
  overflow: scroll;
}
.ant-layout-content > div{
  min-width: 600px;
}
.logo{
  background-image: url('https://www.goquo.com/assets/images/logo-white.svg');
  height: 60px;
}
.main-row{
  border:1px solid;
  margin:10px;
  min-width: 500px;
  overflow: scroll;
}

.first-col{
  padding-left: 10px;
  text-align: center;
}

.second-col, .third-col{
  border-left:1px solid;
  padding: 10px
}

.seperator{
  margin: 0px 10px;
}
.inner-property, .inner-price{
  border-bottom: 1px solid;
}
p{
  line-height: 2.5em;
}
.book-button{
  float: right;
}
.ant-form-item-label{
  text-align: left;
  font-weight: 600;
}
label{
  color: rgba(0, 0, 0, 0.65) !important;
}
.ant-input-number{
  width: 100%;
}
.room-allocation{
  color: red;
}
